<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments :: head(~{})}"></head>

<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<main class="container-lg">

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <p>
        <div class="d-flex justify-content-between">
          <h1 class="fw-bold" th:text="${blogPost.title}">blog post title</h1>
          <div sec:authorize="isAuthenticated()" th:if="${isCurrentAccountWriter}">
            <a th:href="@{/@{username}/blog-posts/{blogPostId}/edit(username=${blogPost.writer.username}, blogPostId=${blogPost.id})}"
               class="btn btn-sm btn-outline-dark"
               th:text="#{button.update}">update</a>
            <a th:href="@{/@{username}/blog-posts/{blogPostId}/settings(username=${blogPost.writer.username}, blogPostId=${blogPost.id})}"
               class="btn btn-sm btn-outline-dark"
               th:text="#{button.settings}">settings</a>
            <a class="btn btn-sm btn-outline-danger"
               th:text="#{button.delete}">delete</a>
          </div>
        </div>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <p th:text="|${blogPost.writer.username} · ${#temporals.format(blogPost.createdDateTime, 'yyyy년 MM월 dd일')}|"></p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <hr>
    </div>
  </div>

  <textarea id="blogPostContent" th:text="${blogPost.content}" hidden></textarea>

  <div class="row justify-content-center mb-5">
    <div class="col-lg-8 col-md-10" id="target"></div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-lg-8 col-md-10">
      <textarea id="commentTextArea" class="form-control mb-3" rows="3" style="resize: none" th:placeholder="#{help.comment}"></textarea>
      <button id="commentSubmit" type="button" class="btn btn-dark btm-sm" th:text="#{button.comment.submit}">Submit</button>
    </div>
  </div>

  <div id="commentList" class="row justify-content-center"></div>

  <template id="template">

    <div class="col-lg-8 col-md-10">
      <hr>
    </div>

    <div class="col-lg-8 col-md-10 mb-3">
      <div id="writerName">username</div>
      <div id="createdDateTime" class="text-muted">datetime</div>
      <p>
        <div id="content">Comment Contents...</div>
      </p>
    </div>

  </template>

  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{label.notification}">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{button.close}">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

</main>
<script src="/webjars/momentjs/moment.js"></script>
<script src="/webjars/showdown/dist/showdown.min.js"></script>
<script type="application/javascript">
  const text = document.querySelector('#blogPostContent').value;
  const target = document.querySelector('#target');
  const converter = new showdown.Converter();
  const html = converter.makeHtml(text);
  target.innerHTML = html;
</script>
<script type="application/javascript" th:inline="javascript">
  sendCommentsQueryRequest();

  const $commentSubmitButton = document.querySelector('#commentSubmit');
  $commentSubmitButton.addEventListener('click', () => {
    const $commentTextArea = document.querySelector('#commentTextArea');
    sendCommentCreationRequest($commentTextArea.value);
  })

  function sendRequest(data, method, url, callback) {
    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
      if(xhr.readyState !== XMLHttpRequest.DONE) return;
      callback(xhr);
    };

    const csrfToken = /*[[${_csrf.token}]]*/ null;
    const csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    xhr.open(method, url);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.setRequestHeader(csrfHeader, csrfToken);
    xhr.send(JSON.stringify(data));
  }

  function sendCommentCreationRequest(content) {
    const data = {
      "blogPostId": /*[[${blogPost.id}]]*/ "1",
      "content": content
    };
    sendRequest(data, 'POST', '/api/comments', xhr => {
      if (xhr.status === 201) {
        resetCommentContentOfTextArea();
        const comment = JSON.parse(xhr.responseText);
        addCommentToCommentList(comment);
      } else if(xhr.status === 400) {
        const errorResult = JSON.parse(xhr.responseText);
        const $modal = document.querySelector('.modal');
        const $modalBody = document.querySelector('.modal-body');
        let message = '';
        if(errorResult.errorCode === 'COMMON_1') {
          for(let fieldError of errorResult.errors) {
            message += fieldError.reason;
            message += '\n';
          }
        }
        $modalBody.innerText = message;
        const modal = new bootstrap.Modal($modal, {});
        modal.show();
      } else if(xhr.status === 401) {
        window.location = '/login';
      }
    });
  }

  function sendCommentsQueryRequest() {
    const blogPostId = /*[[${blogPost.id}]]*/ "1";
    const url = `/api/comments?blogPostId=${blogPostId}`;
    sendRequest({}, 'GET', url, xhr => {
      if(xhr.status === 200) {
        removeAllCommentsFromCommentList();
        const commentsQueryResponse = JSON.parse(xhr.responseText);
        renderCommentList(commentsQueryResponse.comments);
      }
    });
  }

  function resetCommentContentOfTextArea() {
    const $commentTextArea = document.querySelector('#commentTextArea');
    $commentTextArea.value = '';
  }

  function addCommentToCommentList(comment) {
    const $commentList = document.querySelector('#commentList');
    const $template = document.querySelector('#template');
    const dateTime = moment(comment.createdDateTime).format('YYYY년 MM월 DD일')
    const $comment = document.importNode($template.content, true);
    $comment.querySelector('#writerName').innerHTML = comment.writerName;
    $comment.querySelector('#createdDateTime').innerHTML = dateTime;
    $comment.querySelector('#content').innerHTML = comment.content;
    $commentList.appendChild($comment);
  }

  function renderCommentList(comments) {
    for (const comment of comments) {
      addCommentToCommentList(comment);
    }
  }

  function removeAllCommentsFromCommentList() {
    const $commentList = document.querySelector('#commentList');
    while($commentList.firstChild) {
      $commentList.removeChild($commentList.firstChild);
    }
  }
</script>

</body>
</html>