<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments :: head(~{})}"></head>

<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<main class="container-lg">

  <div class="row justify-content-center">
    <div class="col-8">
      <p>
        <div class="d-flex justify-content-between">
          <h1 class="fw-bold" th:text="${blogPost.title}">blog post title</h1>
          <div sec:authorize="isAuthenticated()" th:if="${isCurrentAccountWriter}">
            <a th:href="@{/@{username}/blog-posts/{blogPostId}/edit(username=${blogPost.account.username}, blogPostId=${blogPost.id})}"
               class="btn btn-sm btn-outline-dark"
               th:text="#{button.update}">update</a>
            <a class="btn btn-sm btn-outline-danger"
               th:text="#{button.delete}">delete</a>
          </div>
        </div>
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <p th:text="${blogPost.account.username}">writer</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <p th:text="${#temporals.format(blogPost.createdDateTime, 'yyyy년 MM월 dd일')}">createdDateTime</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <hr>
    </div>
  </div>

  <textarea id="content" th:text="${blogPost.content}" hidden></textarea>

  <div class="row justify-content-center">
    <div class="col-8" id="target"></div>
  </div>

</main>
<script src="/webjars/showdown/dist/showdown.min.js"></script>
<script type="application/javascript">
  const text = document.querySelector('#content').value;
  const target = document.querySelector('#target');
  const converter = new showdown.Converter();
  const html = converter.makeHtml(text);
  target.innerHTML = html;
  console.log(html);
</script>
</body>
</html>