<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head(~{})}"></head>

<body class="bg-light" >

<main class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh">

  <div>
    <h4 class="text-muted" th:text="#{appName}">app</h4>
  </div>
  <div>
    <h3 class="text-muted" th:text="#{serverError}">5xx</h3>
  </div>
  <div>
    <h1 th:text="#{message.error.serverError}">message</h1>
  </div>
  <div>
    <a th:href="@{/}" class="text-decoration-none text-primary"
       th:text="#{button.home}">home</a>
  </div>

</main>

</body>
</html>