<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head(~{})}"></head>

<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<main class="container-lg">

  <div class="row justify-content-center">
    <div th:if="${isNewPostCreated} == true" class="alert alert-success alert-dismissible fade show col-lg-8 col-md-10" role="alert">
      <div th:text="#{message.result.create.blogpost.success}">message</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <div class="row g-0">
        <div class="col-lg-4 d-flex justify-content-lg-center align-items-center">
          <svg data-jdenticon-value="user" th:data-jdenticon-value="${homeOwner.username}" width="140" height="140"></svg>
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <h5 class="card-title" th:text="${homeOwner.username}">Username</h5>
            <p class="card-text"
               th:if="${!#strings.isEmpty(homeOwner.shortIntroduction)}"
               th:text="${homeOwner.shortIntroduction}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments :: account-home-menu('posts')}"></div>

  <div th:each="blogPost : ${blogPostPage.getContent()}" class="row justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <!--<img src="" class="">-->
      <div class="card-body">
        <h2>
          <a href="#"
             th:href="@{/@{username}/blog-posts/{blogPostId}/{blogPostTitle}(username=${homeOwner.username}, blogPostId=${blogPost.id}, blogPostTitle=${blogPost.title})}"
             class="card-title text-decoration-none fs-2 text-dark"
             th:text="${blogPost.title}">Post Title</a>
        </h2>
        <p class="card-text" th:text="${blogPost.introduction}"></p>
        <small class="text-muted" th:text="${#temporals.format(blogPost.createdDateTime, 'yyyy년 MM월 dd일')}"></small>
        <small class="text-muted">5개의 댓글</small>
      </div>
    </div>
  </div>

  <nav aria-label="Blog post page navigation" th:if="${blogPostPage.getTotalPages()} &gt; 0">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${blogPostPage.isFirst()}? 'disabled'">
        <a th:if="!${blogPostPage.isFirst()}" class="page-link"
           th:href="@{/@{username}(username=${homeOwner.username}, page=((${blogPostPage.getNumber()} + 1) - 1))}">Previous</a>
        <span th:if="${blogPostPage.isFirst()}" class="page-link">Previous</span>
      </li>
      <th:block th:each="pageNum: ${#numbers.sequence(1, blogPostPage.getTotalPages())}">
        <li th:if="${pageNum} != ${blogPostPage.getNumber() + 1}" class="page-item">
          <a class="page-link" href="#"
             th:href="@{/@{username}(username=${homeOwner.username}, page=${pageNum})}"
             th:text="${pageNum}">1</a>
        </li>
        <li th:if="${pageNum} == ${blogPostPage.getNumber() + 1}" class="page-item active" aria-current="page">
          <span class="page-link" th:text="${pageNum}">2</span>
        </li>
      </th:block>
      <li class="page-item" th:classappend="${blogPostPage.isLast()}? 'disabled'">
        <a th:if="!${blogPostPage.isLast()}" class="page-link"
           th:href="@{/@{username}(username=${homeOwner.username}, page=((${blogPostPage.getNumber()} + 1) + 1))}">Next</a>
        <span th:if="${blogPostPage.isLast()}" class="page-link">Next</span>
      </li>
    </ul>
  </nav>

</main>

</body>
</html>