<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body>

<nav th:replace="fragments.html :: navbar"></nav>

<main class="container-lg">

  <div class="row d-flex justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <div class="row g-0">
        <div class="col-lg-4 d-flex justify-content-lg-center align-items-center">
          <svg data-jdenticon-value="user" width="140" height="140"></svg>
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <h5 class="card-title">Username</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate eaque hic
              impedit magnam odit similique sint sunt tenetur velit. Aperiam dolores dolorum eaque et minima molestiae
              quibusdam repellendus sed?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-5">
    <ul class="nav nav-tabs justify-content-center col-lg-8 col-md-10">
      <li class="nav-item">
        <a class="nav-link text-dark active" aria-current="page" href="#">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">AboutMe</a>
      </li>
    </ul>
  </div>

  <div class="row d-flex justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <!--<img src="" class="">-->
      <div class="card-body">
        <a href="#" class="card-title text-decoration-none fs-2 text-dark">Post Title</a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto asperiores
          at doloremque error eum impedit, libero modi, nemo nulla obcaecati, odio pariatur quo similique sit soluta
          veniam veritatis?</p>
        <small class="text-muted">yyyy년 MM월 dd일</small>
        <small class="text-muted">5개의 댓글</small>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <!--<img src="" class="">-->
      <div class="card-body">
        <a href="#" class="card-title text-decoration-none fs-2 text-dark">Post Title</a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto asperiores
          at doloremque error eum impedit, libero modi, nemo nulla obcaecati, odio pariatur quo similique sit soluta
          veniam veritatis?</p>
        <small class="text-muted">yyyy년 MM월 dd일</small>
        <small class="text-muted">5개의 댓글</small>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <!--<img src="" class="">-->
      <div class="card-body">
        <a href="#" class="card-title text-decoration-none fs-2 text-dark">Post Title</a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto asperiores
          at doloremque error eum impedit, libero modi, nemo nulla obcaecati, odio pariatur quo similique sit soluta
          veniam veritatis?</p>
        <small class="text-muted">yyyy년 MM월 dd일</small>
        <small class="text-muted">5개의 댓글</small>
      </div>
    </div>
  </div>

</main>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/github-com-dmester-jdenticon/dist/jdenticon.min.js"></script>
</body>
</html>