<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head(~{})}"></head>

<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<main class="container-lg">

  <div th:replace="~{fragments :: account-intro-card}"></div>

  <div th:replace="~{fragments :: account-home-menu('private-posts')}"></div>

  <div th:each="blogPost : ${blogPostPage.getContent()}" class="row justify-content-center mb-5">
    <div class="card col-lg-8 col-md-10">
      <!--<img src="" class="">-->
      <div class="card-body">
        <h2>
          <a href="#"
             th:href="@{/@{username}/blog-posts/{blogPostId}/{blogPostTitle}(username=${account.username}, blogPostId=${blogPost.id}, blogPostTitle=${blogPost.title})}"
             class="card-title text-decoration-none fs-2 text-dark"
             th:text="${blogPost.title}">Post Title</a>
        </h2>
        <p class="card-text" th:text="${blogPost.introduction}"></p>
        <small class="text-muted" th:text="${#temporals.format(blogPost.createdDateTime, 'yyyy년 MM월 dd일')}"></small>
        <small class="text-muted">5 comments</small>
      </div>
    </div>
  </div>

  <nav aria-label="Blog post page navigation" th:if="${blogPostPage.getTotalPages()} &gt; 0">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${blogPostPage.isFirst()}? 'disabled'">
        <a th:if="!${blogPostPage.isFirst()}" class="page-link" th:text="#{button.previous}"
           th:href="@{/private-blog-posts(page=((${blogPostPage.getNumber()} + 1) - 1))}">Previous</a>
        <span th:if="${blogPostPage.isFirst()}" class="page-link" th:text="#{button.previous}">Previous</span>
      </li>
      <th:block th:each="pageNum: ${#numbers.sequence(1, blogPostPage.getTotalPages())}">
        <li th:if="${pageNum} != ${blogPostPage.getNumber() + 1}" class="page-item">
          <a class="page-link" href="#"
             th:href="@{/private-blog-posts(page=${pageNum})}"
             th:text="${pageNum}">1</a>
        </li>
        <li th:if="${pageNum} == ${blogPostPage.getNumber() + 1}" class="page-item active" aria-current="page">
          <span class="page-link" th:text="${pageNum}">2</span>
        </li>
      </th:block>
      <li class="page-item" th:classappend="${blogPostPage.isLast()}? 'disabled'">
        <a th:if="!${blogPostPage.isLast()}" class="page-link" th:text="#{button.next}"
           th:href="@{/private-blog-posts(page=((${blogPostPage.getNumber()} + 1) + 1))}">Next</a>
        <span th:if="${blogPostPage.isLast()}" class="page-link" th:text="#{button.next}">Next</span>
      </li>
    </ul>
  </nav>

</main>

</body>
</html>