<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(links)">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EveryLog</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/font/bootstrap-icons.css">
  <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/webjars/github-com-dmester-jdenticon/dist/jdenticon.min.js"></script>
  <th:block th:replace="${links}"/>
</head>

<nav th:fragment="navbar" class="navbar navbar-light bg-light mb-5">
  <div class="container-lg">
    <a class="navbar-brand" th:href="@{/}" th:text="#{appName}">EveryLog</a>

    <div sec:authorize="!isAuthenticated()">
      <a th:href="@{/sign-up}" class="btn btn-outline-dark" th:text="#{button.signUp}">sign-up</a>
      <a th:href="@{/login}" class="btn btn-outline-dark" th:text="#{button.login}">log-in</a>
    </div>

    <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">
      <div class="px-2">
        <a th:href="@{/@{username}(username=${#authentication.name})}"
           class="text-decoration-none text-dark"
           th:text="#{button.myBlogHome}">
          my blog home
        </a>
      </div>
      <div class="px-2"><i class="bi-bell-fill" style="font-size: 20px"></i></div>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg th:data-jdenticon-value="${#authentication.name}" width="32" height="32"></svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <span class="dropdown-item-text" th:text="${#authentication.name}">Username</span>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="#" th:href="@{/settings}">
              <span th:text="#{button.settings}">settings</span><i class="bi bi-gear px-2"></i>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" th:href="@{/new}">
              <span th:text="#{button.writing}">writing</span><i class="bi bi-pencil-fill px-2"></i>
            </a>
          </li>
          <li>
            <form th:action="@{/logout}" method="post">
              <button class="dropdown-item" type="submit">
                <span th:text="#{button.logout}">logout</span><i class="bi bi-box-arrow-right px-2"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<div class="row justify-content-center mb-5" th:fragment="account-intro-card">
  <div class="card col-lg-8 col-md-10">
    <div class="row g-0">
      <div class="col-lg-4 d-flex justify-content-lg-center align-items-center">
        <svg data-jdenticon-value="user" th:data-jdenticon-value="${account.username}" width="140" height="140"></svg>
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title" th:text="${account.username}">Username</h5>
          <p class="card-text"
             th:if="${!#strings.isEmpty(account.shortIntroduction)}"
             th:text="${account.shortIntroduction}"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-5" th:fragment="account-home-menu(menu)">
  <ul class="nav nav-tabs justify-content-center col-lg-8 col-md-10">
    <li class="nav-item">
      <a class="nav-link text-dark"
         th:classappend="${menu}=='public-posts'? 'active'"
         href="#"
         th:text="#{button.posts}"
         th:href="@{/@{username}(username=${account.username})}">Posts</a>
    </li>
    <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${isCurrentAccountBlogHomeOwner}">
      <a class="nav-link text-dark"
         th:classappend="${menu}=='private-posts'? 'active'"
         href="#"
         th:text="#{button.privatePosts}"
         th:href="@{/private-blog-posts}">Private Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark"
         th:classappend="${menu}=='about'? 'active'"
         href="#"
         th:text="#{button.aboutMe}"
         th:href="@{/@{username}/about(username=${account.username})}">AboutMe</a>
    </li>
  </ul>
</div>

</html>