<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head(~{::link})}">
  <link rel="stylesheet" href="/webjars/easymde/dist/easymde.min.css">
</head>

<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<main class="container-lg">

  <div class="row justify-content-center">

    <div class="col-md-8">

      <form th:action method="post"
            th:object="${introductionForm}" class="mb-4">
        <div class="mb-3">
          <label for="introduction" class="form-label" th:text="#{label.introduction}">introduction</label>
          <textarea class="form-control" id="introduction" rows="3" th:field="*{introduction}"
                    aria-describedby="introductionHelpBlock" th:placeholder="#{help.settings.introduction}">
          </textarea>
          <div id="introductionHelpBlock" class="form-text" th:text="#{help.settings.introduction}">
            please introduce yourself
          </div>
        </div>
        <button type="submit" class="btn btn-outline-dark" th:text="#{button.submit}">
          Submit
        </button>
      </form>

    </div>

  </div>

</main>

<script src="/webjars/easymde/dist/easymde.min.js"></script>
<script type="application/javascript">
  const easyMDE = new EasyMDE({
      element: document.querySelector('#introduction')
  });
</script>
</body>
</html>