<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head(~{})}"></head>

<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<main class="container-lg">

  <div class="row justify-content-center">

    <div class="col-md-8">

      <form th:action method="post"
            th:object="${shortIntroductionForm}" class="mb-4">

        <div class="mb-3">
          <label for="shortIntroduction" class="form-label" th:text="#{label.shortIntroduction}">
            short introduction
          </label>
          <input type="text" class="form-control" id="shortIntroduction"
                 th:field="*{shortIntroduction}" aria-describedby="shortIntroductionHelpBlock"
                 th:placeholder="#{help.settings.shortIntroduction}">
          <div id="shortIntroductionHelpBlock" class="form-text" th:text="#{help.settings.shortIntroduction}"></div>
          <div th:errors="*{shortIntroduction}" class="form-text text-danger"></div>
        </div>

        <button type="submit" class="btn btn-outline-dark" th:text="#{button.submit}">Submit</button>
      </form>
    </div>

  </div>

</main>

</body>
</html>